<li>
  <div id="<%= "reply_#{reply.id}" %>">
    <strong style="margin-right: 18px; cursor: pointer;"><%= reply.user.nick_name %></strong>
    <%= reply.content %>
    <% if reply.user == current_user %>
      <%= link_to "Edit", edit_reply_path(reply), remote: true, style: "margin-left: 10px;" %>
      <%= link_to "Delete", reply_path(reply), method: :delete, remote: true, style: "margin-left: 5px;" %>
    <% end %>
  </div>
</li>
