<ul style="color: white">
  <%= link_to game_path(game) do %>
    <%= image_tag game.picture.url, class: "games_index_image" %>

    <li style="color: white">name: <%= game.name %></li>
  <% end %>

  <li>details: <%= game.details %></li>

  <li>genre:
    <% game.genres.each do |genre| %>
    <%= button_tag genre.genre, class: "search_genre" %>
    <% end %>
  </li>

  <li>price: $<%= game.price %></li>

</ul>

