<ul style="color: white">
  <%= image_tag game.picture.url, class: "games_index_image" %>

  <li>name: <%= game.name %>

  <li>details: <%= game.details %></li>

  <li>genre:
    <% game.genres.each do |genre| %>
      <%= genre.genre %>
    <% end %>
  </li>

  <li>price: $<%= game.price %></li>

  <li>reviews:
    <ol>
      <% game.reviews.each do |review| %>
        <li>score: <%= review.score %>, content: <%= review.content %></li>
      <% end %>
    </ol>
  </li>

</ul>

