<div class="uk-container uk-margin">
  <div class="uk-margin">
    <%= search_form_for @q, id: "search_form", class: "uk-search uk-search-default" do |f| %>
      <%= f.hidden_field :genres_genre_cont, id: "search_genres" %>

      <span uk-search-icon></span>
      <%= f.search_field :name_or_details_cont, class: "uk-search-input uk-search-large", placeholder: "Search name or detail" %>
    <% end %>
  </div>

  <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
    <div>
      <ul class="uk-subnav uk-subnav-pill" uk-margin>
        <li uk-filter-control>
          <%= link_to "Clear Search", request.path %>
        </li>
      </ul>
    </div>
    <div>
      <ul class="uk-subnav uk-subnav-pill" uk-margin>
        <li><%= sort_link(@q, :name) %></li>
        <li><%= sort_link(@q, :price) %></li>
      </ul>
    </div>
    <div>
      <ul class="uk-subnav uk-subnav-pill" uk-margin>
        <% @genres.each do |genre| %>
          <li><a href="#">
            <%= button_tag genre, class: "search_genre", style: "color: #999; text-decoration: none;" %>
          </a></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="uk-grid-match" uk-grid>
    <%= render @games %>
  </div>
  <%= paginate @games %>
</div>

<style>
  a {
    font-size: 1em !important;
  }
</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  var min_price_field = $("#search_min_price");
  var max_price_field = $("#search_max_price");
  $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 200,
    values: [0, 200],
    slide: function( event, ui ) {
      $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
    }
  });
  $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
    " - $" + $( "#slider-range" ).slider( "values", 1 ) );

  min_price_field.val(0);
  max_price_field.val(200);
  $('#slider-range').slider({
    slide: function(event, ui) {
      min_price_field.val(ui.values[0]);
      max_price_field.val(ui.values[1]);
    }
  });
  $(".search_genre").click(function(){
    $("#search_genres").val($(this).text());
    $("#search_form").submit();
  });
});
</script>
