<li style="text-align: left; list-style-type:square;"><%= review.content %></li>
<div class="wthreeratingaits">
  <%= render "shared/star", score: review.score %>
</div>
<!-- !@new_reply.nil? de trang show user profile khong hien nut edit comment -->
<% if review.user == current_user && !@new_reply.nil? %>
  <%= link_to "Edit", edit_review_path(review), remote: true %>
  <%= link_to "Delete", review_path(review), method: :delete, remote: true %>
<% end %>
<%= render review.reply %>
<% if logged_in? && !@new_reply.nil? %>
  <div class="uk-margin" uk-margin id="<%= "reply_form_#{review.id}" %>" style="margin: 10px 0 0 70px;">
    <%= form_for @new_reply, remote: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :review_id, value: review.id %>

      <div uk-form-custom="target: true">
        <%= f.text_field :content, id: "reply_#{review.id}_text_field", class: "uk-input uk-form-width-medium", placeholder: "Enter your reply" %>
      </div>
      <%= f.submit "Send", class: "uk-button uk-button-default", style: "font-size:1em" %>
    <% end %>
  </div>
<% end %>
