<div class="agileheader" id="agileitshome">
  <!-- Navigation -->
  <div class="w3lsnavigation" style="position: inherit;">
    <nav class="navbar navbar-inverse agilehover-effect wthreeeffect navbar-default">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo -->
        <div class="logo">
          <%= link_to t("web_name"), root_path, class: "navbar-brand logo-w3l button" %>
        </div>
        <!-- //Logo -->
      </div>

      <div id="navbar" class="navbar-collapse navbar-right collapse" style="margin-right: 0;">
        <ul class="nav navbar-nav navbar-right cross-effect" id="cross-effect">
          <% if controller_name.eql? "static_pages" %>
            <% if !current_user.nil? && current_user.admin? %>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t ".games" %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".all_games"), games_path %></li>
                  <li><%= link_to t(".add_game"), new_admin_game_path %></li>
                </ul>
              </li>
            <% end %>
            <li><%= link_to t(".games"), games_path %></li>
            <li><%= link_to t(".platforms"), "#agileinfoplatforms", {class: "scroll"} %></li>
            <li><%= link_to t(".collection"), "#wthreetabsaits", {class: "scroll"} %></li>
            <li><%= link_to t(".portfolio"), "#w3portfolioaits", {class: "scroll"} %></li>
            <li><%= link_to t(".about"), "#w3lsaboutaits", {class: "scroll"} %></li>
            <li><%= link_to t(".news"), "#wthreeblogsaits", {class: "scroll"} %></li>
            <li><%= link_to t(".contact"), "#agilecontactw3ls", {class: "scroll"} %></li>
          <% else %>
            <% if !current_user.nil? && current_user.admin? %>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t ".games" %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".all_games"), games_path %></li>
                  <li><%= link_to t(".add_game"), new_admin_game_path %></li>
                </ul>
              </li>
            <% end %>
            <li><%= link_to t(".about"), "#{root_path}#w3lsaboutaits", {class: "scroll"} %></li>
            <li><%= link_to t(".games"), games_path %></li>
            <li><%= link_to t(".news"), "#{root_path}#wthreeblogsaits", {class: "scroll"} %></li>
            <li><%= link_to t(".contact"), "#{root_path}#agilecontactw3ls", {class: "scroll"} %></li>
          <% end %>

          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t ".account" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".profile"), current_user %></li>
                <li>
                  <%= link_to t(".settings"), edit_user_path(current_user) %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("logout"), logout_path, {method: :delete} %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(".login"), login_path %></li>
          <% end %>
        </ul>
      </div><!-- //Navbar-Collapse -->
    </nav>
  </div>
</div>
